#add-income.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button(type=button, data-dismiss='modal', aria-hidden='true').close &times;
				h4.modal-title Record a new income
			.modal-body
				p ceva si aici
			.modal-footer
				a(href='#').btn.btn-success Save
				a(href='#').btn.btn-default Close