.navbar.navbar-static-top
	a.navbar-brand(href='/') amvaloare
	ul.nav.navbar-nav
		- if (logged)
			li: a(href='#') My Account
			li: a(href='#') Help
	ul.nav.navbar-nav.pull-right
		- if (logged)
			li: a(href='#') #{username}
		- else
			li: a(href='/register') Create account
			li: a(href='/login') Log In