.navbar.navbar-static-top
	a.navbar-brand(href='/') amvaloare
	ul.nav.navbar-nav
		- if (logged)
			li: a(href='#') My Account
			li: a(href='#') Help
	ul.nav.navbar-nav.pull-right
		- if (logged)
			li.dropdown
				a(href='#', data-toggle='dropdown').dropdown-toggle #{username} 
					span.glyphicon.glyphicon-user
				ul(role='menu').dropdown-menu
					li: a(href='#') Something
		- else
			li: a(href='/register') Create account
			li: a(href='/login') Log In