.navbar.navbar-static-top
	a.navbar-brand(href='/') amvaloare
	ul.nav.navbar-nav
		li: a(href='#') My Account
		li: a(href='#') Help
	ul.nav.navbar-nav.pull-right
		li: a(href='/register') Create account
		li: a(href='#') Log In