extends layout

block content
	include header
	.container
		- if (!logged)
			.jumbotron
				h1 Welcome to amvaloare
				p Track your finances, manage your money and spend wisely! Get started right away!
				p: .btn.btn-large.btn-primary(onclick='document.location="/register"') Create an account
		- else
			h4.heading.pull-left Today is #{date}
			.controls-group.pull-right
				.btn.btn-success.btn-small: span.glyphicon.glyphicon-plus
				.btn.btn-danger.btn-small: span.glyphicon.glyphicon-minus
			.clear
			.row
				.col-lg-4
					.panel
						.panel-heading Current week
						p Budget: #{user.currency}#{user.budget}
						p Expenses: 0
				.col-lg-4
					.panel
						.panel-heading Overview
				.col-lg-4
					.panel
						.panel-heading Help
						p To record a new income source, click on the green 
							span.glyphicon.glyphicon-plus
							|  button above.
						p To record an expense you've made, just click on the red 
							span.glyphicon.glyphicon-minus
							|  button above.