extends layout

block content
	include header
	.content
		.jumbotron
			h1 Welcome to amvaloare
			p Track your finances, manage your money and spend wisely! Get started right away!
			p: .btn.btn-large.btn-primary Create an account