extends layout

block content
	include header
	.container
		- if (!logged)
			.jumbotron
				h1 Welcome to amvaloare
				p Track your finances, manage your money and spend wisely! Get started right away!
				p: .btn.btn-large.btn-primary(onclick='document.location="/register"') Create an account
		- else
			h4.heading Today is #{date}
			.row
				.col-lg-4
					.panel
						.panel-heading Current week
						p Budget: £200
						p Expenses: 0
				.col-lg-4
					.panel
						.panel-heading Overview
				.col-lg-4
					.panel
						.panel-heading Options