extends layout

block content
	include header
	.container
		.jumbotron
			h1 Welcome to amvaloare
			p Track your finances, manage your money and spend wisely! Get started right away!
			p: .btn.btn-large.btn-primary(onclick='document.location="/register"') Create an account