extends layout

block content
	include header
	.container
		- if (ready == 0)
			.pull-left.fifty
				h4 Get started today
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			form(method='post', action='/register', autocomplete='off').forth.pull-right
				fieldset
					legend Create a new account
					.form-group
						label Fill in the form below and you are ready to go
						input(type='text', class='form-control', name='fullName', placeholder='Full Name')
						input(type='text', class='form-control', name='email', placeholder='E-mail')
						input(type='password', class='form-control', name='password', placeholder='Choose a password')
						input(type='password', class='form-control', name='confirm', placeholder='Confirm your password')
						.form-group
							label(for='currency') Choose your preffered currency
							select(name='currency', id='currency').form-control
								option(value='usd') USD
								option(value='eur') EUR
								option(value='gbp') GBP
								option(value='ron') RON
						input(type='submit', value='Create my account').btn.btn-large.btn-success
		- else
			h3 Congratulations
			p Your account has been created! 
				a(href='/login') Log In
				|  to get started.