/*
 * Scheme ID: 0X11Tw0w0w0w0;
 */

body {
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url('../images/cream_dust.png');
}

a {
	color: #00B7FF;
}

.navbar {
	padding: 0 100px;
	background-color: #ffaa00;
}

a.navbar-brand, a.navbar-brand:hover {
	color: #000;
}

.nav li a{
	color: #fff;
}

.content {
	padding: 30px 100px;
}

.content h1 {
	font-size: 60px;
}