/*
 * Scheme ID: 0X11Tw0w0w0w0;
 */

body {
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url('../images/cream_dust.png');
}

a {
	color: #00B7FF;
}

.navbar {
	padding: 0 100px;
	background-color: #ffaa00;
	margin-bottom: 50px;
}

a.navbar-brand, a.navbar-brand:hover {
	color: #000;
}

.nav li a{
	color: #fff;
}

form input {
	margin-bottom: 10px;
	float: right;
}

form legend {
	text-align: center;
}

.forth {
	width: 40%;
}

.fifty {
	width: 50%;
}